.carouselMain{
  display:                flex; 
  
  justify-content:        center; 
  
  
}
.carouselSlider{
  background-color:     white;
  width:                  98%;
  height:                 90vh;
  
  //border: 1px solid red;
  position:               relative;
  margin:                 0;
  padding:                0;
  display:                flex;
  align-items:            center;
  overflow:               hidden;

}
.carouselSlide{
  //border: 1px solid blue;
  min-width:              100%;
  height:                 80%;
  overflow:               hidden;
  transition:             1s;
   box-shadow:            0 2px 5px rgb(134, 114, 114);
}
%btn-styles{
  position:               absolute;
  width:                  4%;
  height:                 8%;
  top:                    50%;
  margin: 20px;
  transform:              translateY(-50%);
  background:             none;
  border:                 1px solid white;
  border-radius:          80px;
  outline:                none;
  transition:             0.5s;
  &:hover {
    background:         rgba(0,0,0,0.356);
    cursor:               pointer;
    //color: white;
  }
}
#btnLeft{
  left :                  0;
  @extend %btn-styles;
  font-size: 40px;
  // font-weight: bolder;  
  background-color: white;
}

#btnLeft:hover{
  background-color: white;
  opacity: 0.7;
}

#btnRight{
  right:                  0;
  @extend %btn-styles;
  font-size: 40px;
  font-weight: 500;
  background-color: white;
}

#btnRight:hover{
  background-color: white;
  opacity: 0.7;
}


.caroselBnr{
  font-weight:            400;
  font-size:              2.5rem;
  position:               absolute;
  top:                    60%;
  left:                   30%;

}
#btnLearn{
  position:               absolute;
  left:                   11%;
  bottom:                 20%;
  z-index:                10;
  appearance:             none;
  outline:                0;
  background-color:       #332FD0;
  border:                 0;
  padding:                10px 15px;
  color:                white;
  border-radius:          3px;
  width:                  10%;
  height:                 40px;
  font-family:            'Ubuntu', sans-serif;
  font-size:              18px;
  &:hover{
    background-color:   rgb(81, 89, 243);
    cursor:               pointer;             
  }
  
  
}