.detailsInfoMAIN{
  width:                  550px;
  height:                 400px;
  
  padding:                2%; 
  background-color:      #f3f3f3;
}
.detailsInfoHEADING{ 
  font-family:            'Ubuntu', sans-serif;
}

.detalsInfoIMG{
    box-shadow:           0 3px 5px rgb(32, 3, 3);
    float:                right;
    margin:               10px;
}

.detailsInfoPARAG{
    text-align:           justify;
    font-family:          Montserrat;
    font-size:            14x;
    font-weight:          500;
}